$color-background-default:#a80000;
$color-font-default: #ffffff;
.geometric-button-circle {
 background:$color-background-default;
    border-radius: 100% ;
    padding:40px; 
    cursor:pointer;
    width:100px;
    height:100px;
    a  {
        font-size:20px;
        color:$color-font-default;
        margin:20px;

    }   
    input {
        border:none;
        background:none;
        color:$color-font-default;
    &focus{
        outline:none;
      }          
    }
    
}
