/* line 3, ../sass/geometric.scss */
.geometric-button-circle {
  background: #a80000;
  border-radius: 100%;
  padding: 40px;
  cursor: pointer;
  width: 100px;
  height: 100px;
}
/* line 10, ../sass/geometric.scss */
.geometric-button-circle a {
  font-size: 20px;
  color: #ffffff;
  margin: 20px;
}
/* line 16, ../sass/geometric.scss */
.geometric-button-circle input {
  border: none;
  background: none;
  color: #ffffff;
}
/* line 20, ../sass/geometric.scss */
.geometric-button-circle inputfocus {
  outline: none;
}
